server:
  port: 8767

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: listener
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest