<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--引用-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!--Spring参数-->
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="logAppender" source="customProperty.log.appender"/>
    <springProperty scope="context" name="logDir" source="customProperty.log.dir"/>
    <!--Logback参数-->
    <property name="APP_NAME" value="${springAppName}"/>
    <property name="LOG_DIR" value="${logDir}/${springAppName}"/>
    <!--<contextName>${APP_NAME}</contextName>-->
    <!--Appender配置-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/current.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${APP_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--打印级别-->
    <root level="INFO">
        <!--<appender-ref ref="${logAppender}"/>--><!--报错-->
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>

</configuration>