<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.myspringcloud.demo.mapper.UserMapper">

    <select id="queryUser" resultType="com.wt.myspringcloud.common.pojo.entity.WtUser">
        select * from wt_user where id = 4
    </select>

    <select id="queryUserById" resultType="com.wt.myspringcloud.common.pojo.entity.WtUser">
        select * from wt_user where id = #{id}
    </select>

    <select id="queryUserById2" resultType="com.wt.myspringcloud.common.pojo.entity.WtUser">
        select * from wt_user where id = ${id}
    </select>

    <!-- [嵌套结果映射]，SQL和resultMap -->
    <select id="queryUserOrder" resultMap="userOrder">
        select u2.id, u2.name, a2.amount, o2.id order_id, o2.user_id
        from wt_user u2
          left join wt_order o2
            on o2.user_id = u2.id
          left join (select u.id, count(o.id) amount
                     from wt_user u
                       left join wt_order o
                         on o.user_id = u.id
                     group by u.id) a2
            on a2.id = u2.id
    </select>
    <resultMap id="userOrder" type="com.wt.myspringcloud.demo.pojo.resp.WtUserOrderVo">
        <id property="userId" column="id"/>
        <result property="name" column="name"/>
        <collection property="orders" ofType="com.wt.myspringcloud.demo.pojo.entity.WtOrder">
            <id property="id" column="order_id"/>
            <result property="userId" column="user_id"/>
        </collection>
    </resultMap>
    <!-- 嵌套结果映射，结束 -->

    <!-- [嵌套查询]，SQL和resultMap -->
    <select id="queryUserOrder2" resultMap="queryUserOrder2Map">
        select id, name
        from wt_user
    </select>
    <resultMap id="queryUserOrder2Map" type="com.wt.myspringcloud.demo.pojo.resp.WtUserOrderVo">
        <id property="userId" column="id"/>
        <result property="name" column="name"/>
        <!-- collection中的column定义的字段值，取自上面的select，然后传给下面的select作参数 -->
        <!-- 可以使用column="{prop1=col1,prop2=col2}"来指定多个传递给嵌套 Select 查询语句的列名 -->
        <collection property="orders" select="queryOrderByUserId" column="id"/>
    </resultMap>
    <select id="queryOrderByUserId" resultType="com.wt.myspringcloud.demo.pojo.entity.WtOrder">
        select id, user_id userId, amount
        from wt_order
        where user_id = #{id}
    </select>
    <!-- 嵌套查询，结束 -->

    <!-- 测试属性结构查询 -->
    <select id="queryMenu" resultMap="queryMenu">
        select m.menu_id, m2.menu_id menu_id2, m3.menu_id menu_id3, m4.menu_id menu_id4, m5.menu_id menu_id5, m6.menu_id menu_id6
        from menu m
        left join menu m2 on m2.parent_menu_id = m.menu_id
        left join menu m3 on m3.parent_menu_id = m2.menu_id
        left join menu m4 on m4.parent_menu_id = m3.menu_id
        left join menu m5 on m5.parent_menu_id = m4.menu_id
        left join menu m6 on m6.parent_menu_id = m5.menu_id
        where m.menu_id = 1
    </select>
    <resultMap id="queryMenu" type="com.wt.myspringcloud.demo.pojo.entity.Menu">
        <id column="menu_id" property="menuId"/>
        <collection property="childMenuList" ofType="com.wt.myspringcloud.demo.pojo.entity.Menu">
            <id column="menu_id2" property="menuId"/>
            <collection property="childMenuList" ofType="com.wt.myspringcloud.demo.pojo.entity.Menu">
                <id column="menu_id3" property="menuId"/>
                <collection property="childMenuList" ofType="com.wt.myspringcloud.demo.pojo.entity.Menu">
                    <id column="menu_id4" property="menuId"/>
                    <collection property="childMenuList" ofType="com.wt.myspringcloud.demo.pojo.entity.Menu">
                        <id column="menu_id5" property="menuId"/>
                        <collection property="childMenuList" ofType="com.wt.myspringcloud.demo.pojo.entity.Menu">
                            <id column="menu_id6" property="menuId"/>
                        </collection>
                    </collection>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <!-- 测试[XML自定义分页] -->
    <select id="mySelectPage" resultType="com.wt.myspringcloud.common.pojo.entity.WtUser">
        select * from wt_user where name = #{params.name}
    </select>

</mapper>
