server:
  # listen port for incoming HTTP requests
  port: 8766

eureka:
  instance:
    # Use its IP Address rather than its hostname to registers with eureka.
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: user
  datasource:
    schema: classpath:db/schema-h2.sql
    data: classpath:db/data-h2.sql