#  Standalone Eureka Server
server:
  port: 8761

eureka:
  instance:
    hostname: localhost
    # Speed up the process of getting clients connected to other services.
    leaseRenewalIntervalInSeconds: 5
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/